@import "../../../app.scss";

h1{
    font-size: 2rem;
    color: $negro-mula;
    text-align: left;
}

.desc{
    padding-top: 1rem;
    border-top-color: $negro-mula;
    border-top-style: solid;
    border-top-width: 2px;
    padding-bottom: 1rem;
    border-bottom-color: $negro-mula;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 2rem;
    p{
        text-align: left;
        letter-spacing: 0.1rem;
        font-size: 1.4rem;
    }
}

img{
    width: 100%;
}