@import url(https://fonts.googleapis.com/css?family=Rambla);
#loading {
  background-color: black;
  color: white;
  font-size: 14.4px; }

html,
document,
body {
  font-size: 12px;
  font-family: "Rambla", sans-serif;
  overflow-x: hidden;
  margin-top: 0px !important; }

main {
  background-color: #f2f2f2 !important; }
  main .main {
    background-color: white; }
