@import url(https://fonts.googleapis.com/css?family=Rambla);
html,
document,
body {
  font-size: 12px;
  font-family: "Rambla", sans-serif;
  overflow-x: hidden;
  margin-top: 0px !important; }

main {
  background-color: white;
  min-height: 100vh; }
