@import url(https://fonts.googleapis.com/css?family=Rambla);

$rem:12px;
$verde-mula:#43B38B;
$negro-mula:#6B6B6B;
$gris-mula:#D0D0D5;
$fuente-mula:"Rambla";
$espacio:20px;
$espacio-de-letra-titulo:10px;
$tamano: 3rem;

$sm : 48rem;
$md: 62rem;
$lg: 71rem;


html,
document,
body{
    font-size: $rem;
    font-family: $fuente-mula, sans-serif;
    // height: 100%;
    // width: 100%;
    overflow-x: hidden;
    margin-top: 0px!important;
}

main{
    background-color: white;   
    min-height: 100vh; 
}

