@import url(https://fonts.googleapis.com/css?family=Rambla);

$rem:12px;
$verde-mula:#54BE9B;
$negro-mula:#404045;
$gris-mula:#D0D0D5;
$fuente-mula:"Rambla";
$espacio:20px;
$espacio-de-letra-titulo:7px;
$tamano: 3rem;

$sm : 48rem;
$md: 62rem;
$lg: 71rem;


#loading{
    background-color: black;
    color: white;
    font-size: 1.2*$rem;
}

html,
document,
body{
    font-size: $rem;
    font-family: $fuente-mula, sans-serif;
    // height: 100%;
    // width: 100%;
    overflow-x: hidden;
    margin-top: 0px!important;
}

main{
    background-color: white;
    // width: 100%;
    // position: absolute;
    //top:0px;
    // left:0px;
    // bottom: 0px;
    .main{
        
        // top:0;
        // left:0px;
        // bottom: 0px;
        // left:4*$espacio;
        // right:4*$espacio;
        // position: absolute;
    }
}
