@import url(https://fonts.googleapis.com/css?family=Rambla);
html,
document,
body {
  font-size: 12px;
  font-family: "Rambla", sans-serif;
  overflow-x: hidden;
  margin-top: 0px !important; }

main {
  background-color: white;
  min-height: 100vh; }

#loading {
  background-color: #54BE9B;
  color: white;
  font-size: 1.2rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }
  #loading .loader {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0; }
    #loading .loader > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 8rem;
      width: 8rem; }
    #loading .loader > div {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 2rem; }
    #loading .loader > div:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4, end) 900ms infinite;
      animation: ellipsis steps(4, end) 900ms infinite;
      content: "\2026";
      /* ascii code for the ellipsis character */
      width: 0px; }

@keyframes ellipsis {
  to {
    width: 1.25em; } }

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em; } }
