@import "../../../app.scss";



#app-header{
    height: 8rem;
    h1{
        color: $verde-mula!important;
        text-align: center!important;
        width: 100%;
        font-size: $tamano;
        letter-spacing: $espacio-de-letra-titulo;
        font-weight: lighter;
    }
}
#app-content{
    min-height: 50vh;
}
#app-navigation{
    text-align: center;
    height: 7rem;
    ul.navigation-list{
        display: inline-block;
        height: $tamano/2;
        li.navigation-item{
            display: inline-block;
            height: $tamano/2;
            a.navigation-link{
                height: $tamano;
                text-decoration: none;
                white-space: nowrap;
                // float: left;
                padding-right:0.8rem;
                padding-left: 0.8rem;
                text-align: center;
                display: block;
                font-size: 1,5rem;
                line-height: $tamano;
                color: $negro-mula;
                background-color: white!important;
                width: 100%;
            }
            a.navigation-link:hover{
                background-color: $gris-mula!important;
            }
        }
        li.navigation-item.active {
            a.navigation-link{
                background-color: $negro-mula!important;
                color: white!important;
            }
        }
    }
}
#app-footer{
    margin: 0 auto;
    height: 6rem;
    padding-top: 4rem;
    width: 100%;
    >div{
        margin: 0 auto;
        text-align: center;
        >div{
            display: inline-block;
            padding-left: 1rem;
            padding-right: 1rem;
            i{
                font-size: 2rem;
                color: $verde-mula;
            }   
        }
    }  
    >.app-footer{
        width: 12rem;
        position: absolute;
        >div{
            margin: 0 auto;
            text-align: center;
            >div{
                display: inline-block;
                i{
                    font-size: 2rem;
                    color: $verde-mula;
                }   
            }
        }    
    }   
}

#app-footer-trademark{
    bottom: 2rem;
    left: 0px;
    right: 0px;
    padding-top: 4rem;
    font-size: 0.7rem;
    width: 15rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
    height: 1rem;
    div{
        margin: 0 auto;
        width: 100%;
        letter-spacing: 0.05rem;
    }
}

#app-content{
    min-height: 49vh;
}


@media only screen and (min-width:$sm){
    #app-navigation{
        ul.navigation-list{
            li.navigation-item{
                a.navigation-link{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media only screen and (min-width:$md){
    #app-navigation{
        ul.navigation-list{
            li.navigation-item{
                a.navigation-link{
                    font-size: 2rem;
                }
            }
        }
    }
}

@media only screen and (min-width:$lg){
    #app-navigation{
        ul.navigation-list{
            li.navigation-item{
                a.navigation-link{
                    font-size: 2rem;
                }
            }
        }
    }
}





