@import "../../../app.scss";


    .menu-collapsed {
        transition:all .25s;
        position:fixed;
        top:1rem;
        right: 1rem;
        height:36px;
        width:36px;
        z-index:1;
        cursor:pointer;
        ul {
            transition:all .05s;
            position:fixed;
            left:-9000px;
        }
    }
    .bar {
        position:fixed;
        right:1rem;
        top:2rem;
        height:6px;
        width:30px;
        border-radius:15px;
        background-color:$verde-mula;
        &:before {
            transition:all .25s;
            content:"";
            position:absolute;
            left:0;
            top:-8px;
            height:6px;
            width:30px;
            border-radius:15px;
            background-color:$verde-mula;
        }
        &:after {
            transition:all .25s;
            content:"";
            position:absolute;
            left:0;
            top:8px;
            height:6px;
            width:30px;
            border-radius:15px;
            background-color:$verde-mula;
        }
    }
    .menu-expanded {
        transition:all .25s;
        text-align:center;
        line-height:6rem;
        height:100%;
        width:100%;
        border-radius:0px;
        top:0;
        right:0;
        bottom: 0;
        right: 0;
        position: fixed;
        background-color:$verde-mula;
        z-index: 1000;
        opacity: 1;
        ul {
            transition:all .05s;
            position:relative;
            left:0;
            z-index:2;
            list-style: none;
            padding-left: 0px!important;
        }
        a {
            transition:all .15s;
            text-decoration:none;
            color:white;
            font-size:2em;
            padding:5px;
            &:hover {
                transition:all .15s;
                letter-spacing:2px;
                border:1px solid rgba(255,255,255,.15);
            }
        }
        .bar {
            background-color:transparent;
            transition:all .25s;
            &:before {
                transition:all .25s;
                content:"";
                transform:rotate(45deg);
                top:-0px;
                background-color: white!important;
            }
            &:after {
                transition:all .25s;
                content:"";
                transform:rotate(-45deg);
                top:0px;
                background-color: white!important;
            }
        }
    }



#app-header{
    height: 8rem;
    h1{
        color: $verde-mula!important;
        text-align: center!important;
        width: 100%;
        font-size: $tamano;
        letter-spacing: $espacio-de-letra-titulo;
        font-weight: lighter;
        height: 8rem;
        margin: 0px;
        line-height: 8rem;
    }
    .nav{
        display: none;
    }
}
#app-content{
    min-height: 50vh;
}
#app-navigation{
    text-align: center;
    height: 7rem;
    ul.navigation-list{
        display: inline-block;
        height: 8rem;
        li.navigation-item{
            display: block;
            float: right;
            text-decoration-style: none;
            height: 3rem;
            a.navigation-link{
                text-decoration: none;
                white-space: nowrap;
                height: 2.5rem;
                margin-top: 2rem;
                padding-right:0.8rem;
                padding-left: 0.8rem;
                text-align: center;
                display: block;
                font-size: 1rem;
                line-height: 2.5rem;
                color: $negro-mula;
                background-color: white!important;
                width: 100%;
                letter-spacing: $espacio-de-letra-titulo;
                border-width: 3px;
                border-style: solid;
                border-color: white;
            }
        }
        
        li.navigation-item:not(.active){
            a.navigation-link:hover{
                color: $verde-mula!important;
            }
        }
        li.navigation-item.active {
            a.navigation-link{
                border-color: $verde-mula;
            }
        }
    }
}
#app-footer{
    margin: 0 auto;
    height: 6rem;
    padding-top: 4rem;
    width: 100%;
    >div{
        margin: 0 auto;
        text-align: center;
        >div{
            display: inline-block;
            padding-left: 1rem;
            padding-right: 1rem;
            i{
                font-size: 2rem;
                color: $verde-mula;
            }   
        }
    }  
    >.app-footer{
        width: 12rem;
        position: absolute;
        >div{
            margin: 0 auto;
            text-align: center;
            >div{
                display: inline-block;
                i{
                    font-size: 2rem;
                    color: $verde-mula;
                }   
            }
        }    
    }   
}

#app-footer-trademark{
    bottom: 2rem;
    left: 0px;
    right: 0px;
    padding-top: 4rem;
    font-size: 0.7rem;
    width: 15rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
    height: 1rem;
    div{
        margin: 0 auto;
        width: 100%;
        letter-spacing: 0.05rem;
    }
}

#app-content{
    min-height: 49vh;
}



@media only screen and (min-width:$sm){
    #app-navigation{
        ul.navigation-list{
            li.navigation-item{
                a.navigation-link{
                    font-size: 1rem;
                }
            }
        }
    }
}

@media only screen and (min-width:$md){
    #app-header{
        h1{
            text-align: left!important;
        }
        .nav{
            display: initial;
        }
    }
    #mobile-bar{
        display: none;
    }
    #app-navigation{
        ul.navigation-list{
            li.navigation-item{
                a.navigation-link{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media only screen and (min-width:$lg){
    #app-header{
        h1{
            text-align: left!important;
        }
        .nav{
            display: initial;
        }
    }
    #mobile-bar{
        display: none;
    }
    #app-navigation{
        ul.navigation-list{
            li.navigation-item{
                a.navigation-link{
                    font-size: 1.5rem;
                }
            }
        }
    }
}





