@import url(https://fonts.googleapis.com/css?family=Rambla);
#loading {
  background-color: black;
  color: white;
  font-size: 16px; }

html,
document,
body {
  font-size: 12px;
  font-family: "Rambla", sans-serif;
  overflow-x: hidden; }

main {
  padding-left: 20px;
  padding-right: 20px; }

#app-header {
  height: 8rem; }
  #app-header h1 {
    color: #54BE9B !important;
    text-align: center !important;
    width: 100%;
    font-size: 3rem;
    letter-spacing: 4px;
    font-weight: lighter; }

#app-navigation {
  text-align: center;
  height: 7rem; }
  #app-navigation ul.navigation-list {
    display: inline-block;
    height: 1.5rem; }
    #app-navigation ul.navigation-list li.navigation-item {
      display: inline-block;
      height: 1.5rem; }
      #app-navigation ul.navigation-list li.navigation-item a.navigation-link:nth-child(1) {
        margin-right: 0.75rem; }
      #app-navigation ul.navigation-list li.navigation-item a.navigation-link:nth-child(3) {
        margin-left: 0.75rem; }
      #app-navigation ul.navigation-list li.navigation-item a.navigation-link {
        height: 3rem;
        text-decoration: none;
        white-space: nowrap;
        float: left;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        text-align: center;
        display: block;
        font-size: 24px;
        line-height: 3rem; }
    #app-navigation ul.navigation-list li.navigation-item.active a.navigation-link {
      background-color: #404045 !important;
      color: white !important; }

#app-footer {
  width: 15rem;
  margin: 0 auto;
  height: 6rem;
  padding-top: 4rem; }
  #app-footer div {
    margin: 0 auto; }
    #app-footer div i {
      font-size: 2rem;
      color: #54BE9B; }

#app-footer-trademark {
  padding-top: 4rem;
  font-size: 0.7rem;
  width: 15rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
  height: 1rem; }
  #app-footer-trademark div {
    margin: 0 auto;
    width: 100%;
    letter-spacing: 0.05rem; }

#app-content {
  min-height: 49vh; }
