@import url(https://fonts.googleapis.com/css?family=Rambla);
#loading {
  background-color: black;
  color: white;
  font-size: 14.4px; }

html,
document,
body {
  font-size: 12px;
  font-family: "Rambla", sans-serif;
  overflow-x: hidden;
  margin-top: 0px !important; }

main {
  background-color: #f2f2f2 !important; }
  main .main {
    background-color: white; }

#app-header {
  height: 8rem; }
  #app-header h1 {
    color: #54BE9B !important;
    text-align: center !important;
    width: 100%;
    font-size: 3rem;
    letter-spacing: 4px;
    font-weight: lighter; }

#app-content {
  min-height: 50vh; }

#app-navigation {
  text-align: center;
  height: 7rem; }
  #app-navigation ul.navigation-list {
    display: inline-block;
    height: 1.5rem; }
    #app-navigation ul.navigation-list li.navigation-item {
      display: inline-block;
      height: 1.5rem; }
      #app-navigation ul.navigation-list li.navigation-item a.navigation-link:nth-child(1) {
        margin-right: 0.75rem; }
      #app-navigation ul.navigation-list li.navigation-item a.navigation-link:nth-child(3) {
        margin-left: 0.75rem; }
      #app-navigation ul.navigation-list li.navigation-item a.navigation-link {
        height: 3rem;
        text-decoration: none;
        white-space: nowrap;
        float: left;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        text-align: center;
        display: block;
        font-size: 24px;
        line-height: 3rem;
        color: #404045;
        background-color: white !important; }
      #app-navigation ul.navigation-list li.navigation-item a.navigation-link:hover {
        background-color: #D0D0D5 !important; }
    #app-navigation ul.navigation-list li.navigation-item.active a.navigation-link {
      background-color: #404045 !important;
      color: white !important; }

#app-footer {
  margin: 0 auto;
  height: 6rem;
  padding-top: 4rem;
  width: 100%; }
  #app-footer > div {
    margin: 0 auto;
    text-align: center; }
    #app-footer > div > div {
      display: inline-block;
      padding-left: 1rem;
      padding-right: 1rem; }
      #app-footer > div > div i {
        font-size: 2rem;
        color: #54BE9B; }
  #app-footer > .app-footer {
    width: 12rem;
    position: absolute; }
    #app-footer > .app-footer > div {
      margin: 0 auto;
      text-align: center; }
      #app-footer > .app-footer > div > div {
        display: inline-block; }
        #app-footer > .app-footer > div > div i {
          font-size: 2rem;
          color: #54BE9B; }

#app-footer-trademark {
  bottom: 2rem;
  left: 0px;
  right: 0px;
  padding-top: 4rem;
  font-size: 0.7rem;
  width: 15rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
  height: 1rem; }
  #app-footer-trademark div {
    margin: 0 auto;
    width: 100%;
    letter-spacing: 0.05rem; }

#app-content {
  min-height: 49vh; }
