@import url(https://fonts.googleapis.com/css?family=Rambla);
#loading {
  background-color: black;
  color: white;
  font-size: 14.4px; }

html,
document,
body {
  font-size: 12px;
  font-family: "Rambla", sans-serif;
  overflow-x: hidden;
  margin-top: 0px !important; }

main {
  background-color: white; }

.menu-collapsed {
  transition: all .25s;
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer; }
  .menu-collapsed ul {
    transition: all .05s;
    position: fixed;
    left: -9000px; }

.bar {
  position: fixed;
  right: 1rem;
  top: 2rem;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: #54BE9B; }
  .bar:before {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: #54BE9B; }
  .bar:after {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: #54BE9B; }

.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: #54BE9B;
  z-index: 1000;
  opacity: 1; }
  .menu-expanded ul {
    transition: all .05s;
    position: relative;
    left: 0;
    z-index: 2;
    list-style: none;
    padding-left: 0px !important; }
  .menu-expanded a {
    transition: all .15s;
    text-decoration: none;
    color: white;
    font-size: 2em;
    padding: 5px; }
    .menu-expanded a:hover {
      transition: all .15s;
      letter-spacing: 2px;
      border: 1px solid rgba(255, 255, 255, 0.15); }
  .menu-expanded .bar {
    background-color: transparent;
    transition: all .25s; }
    .menu-expanded .bar:before {
      transition: all .25s;
      content: "";
      transform: rotate(45deg);
      top: -0px;
      background-color: white !important; }
    .menu-expanded .bar:after {
      transition: all .25s;
      content: "";
      transform: rotate(-45deg);
      top: 0px;
      background-color: white !important; }

#app-header {
  height: 8rem; }
  #app-header h1 {
    color: #54BE9B !important;
    text-align: center !important;
    width: 100%;
    font-size: 3rem;
    letter-spacing: 7px;
    font-weight: lighter;
    height: 8rem;
    margin: 0px;
    line-height: 8rem; }
  #app-header .nav {
    display: none; }

#app-content {
  min-height: 50vh; }

#app-navigation {
  text-align: center;
  height: 7rem; }
  #app-navigation ul.navigation-list {
    display: inline-block;
    height: 8rem; }
    #app-navigation ul.navigation-list li.navigation-item {
      display: block;
      float: right;
      text-decoration-style: none;
      height: 3rem; }
      #app-navigation ul.navigation-list li.navigation-item a.navigation-link {
        text-decoration: none;
        white-space: nowrap;
        height: 2.5rem;
        margin-top: 2rem;
        padding-right: 0.8rem;
        padding-left: 0.8rem;
        text-align: center;
        display: block;
        font-size: 1rem;
        line-height: 2.5rem;
        color: #404045;
        background-color: white !important;
        width: 100%;
        letter-spacing: 7px;
        border-width: 3px;
        border-style: solid;
        border-color: white; }
    #app-navigation ul.navigation-list li.navigation-item:not(.active) a.navigation-link:hover {
      color: #54BE9B !important; }
    #app-navigation ul.navigation-list li.navigation-item.active a.navigation-link {
      border-color: #54BE9B; }

#app-footer {
  margin: 0 auto;
  height: 6rem;
  padding-top: 4rem;
  width: 100%; }
  #app-footer > div {
    margin: 0 auto;
    text-align: center; }
    #app-footer > div > div {
      display: inline-block;
      padding-left: 1rem;
      padding-right: 1rem; }
      #app-footer > div > div i {
        font-size: 2rem;
        color: #54BE9B; }
  #app-footer > .app-footer {
    width: 12rem;
    position: absolute; }
    #app-footer > .app-footer > div {
      margin: 0 auto;
      text-align: center; }
      #app-footer > .app-footer > div > div {
        display: inline-block; }
        #app-footer > .app-footer > div > div i {
          font-size: 2rem;
          color: #54BE9B; }

#app-footer-trademark {
  bottom: 2rem;
  left: 0px;
  right: 0px;
  padding-top: 4rem;
  font-size: 0.7rem;
  width: 15rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
  height: 1rem; }
  #app-footer-trademark div {
    margin: 0 auto;
    width: 100%;
    letter-spacing: 0.05rem; }

#app-content {
  min-height: 49vh; }

@media only screen and (min-width: 48rem) {
  #app-navigation ul.navigation-list li.navigation-item a.navigation-link {
    font-size: 1rem; } }

@media only screen and (min-width: 62rem) {
  #app-header h1 {
    text-align: left !important; }
  #app-header .nav {
    display: initial; }
  #mobileBar {
    display: none; }
  #app-navigation ul.navigation-list li.navigation-item a.navigation-link {
    font-size: 1.5rem; } }

@media only screen and (min-width: 71rem) {
  #app-header h1 {
    text-align: left !important; }
  #app-header .nav {
    display: initial; }
  #mobileBar {
    display: none; }
  #app-navigation ul.navigation-list li.navigation-item a.navigation-link {
    font-size: 1.5rem; } }
