@import url(https://fonts.googleapis.com/css?family=Rambla);
html,
document,
body {
  font-size: 12px;
  font-family: "Rambla", sans-serif;
  overflow-x: hidden;
  margin-top: 0px !important; }

main {
  background-color: white;
  min-height: 100vh; }

#projects .project {
  padding-bottom: 1rem; }

#projects .img-wrapper {
  position: relative;
  display: inline-block;
  box-shadow: 5px 5px 4px #aaaaaa;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  #projects .img-wrapper .overlay {
    top: 100%;
    height: 0px;
    transition: 0.6s;
    opacity: 0;
    width: 100%;
    position: absolute; }
    #projects .img-wrapper .overlay > div {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      right: 1rem; }
    #projects .img-wrapper .overlay > div.head {
      font-size: 1.5rem;
      top: 50%;
      position: absolute;
      width: 100%;
      margin-top: -2%;
      text-align: center;
      letter-spacing: 10px; }

#projects .img-wrapper:hover .overlay {
  width: 100%;
  height: 100%;
  background: #43B38B;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-size: 20px;
  transition: 0.6s;
  opacity: 0.8; }

#projects .img {
  vertical-align: top;
  height: 100%;
  width: 100%;
  margin-bottom: -4px; }

#projects > section {
  position: relative;
  display: inline-block; }

#projects > section:nth-child(odd) > a {
  border-right-width: 40px; }

#projects > section:nth-child(even) > a {
  border-left-width: 40px; }
